/*
table {
  position: relative;
  top: 40px;
  width: 95%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin: auto;
  font-size: 25px;
} */

 /* [colspan="2"] {
  text-align: center;
} */
/* th {
  text-align: left;
  border-top: 3px solid #ddd;
  border-bottom: 3px solid #ddd;
} */
