 /* :root {
	--color-primary: rgb(216, 45, 45);
	--border: 0.3rem solid var(--color-primary);
}


.App-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: var(--border);
}

.title {
	color: var(--color-primary);
	font-size: 2rem;
	font-weight: 900;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-footer {
	border-top: var(--border);
	margin-top: 100%;
	text-align: center;

}
img {
	width: 200px;
}

 input {
	margin-left: 10px;
	margin-right: 10px;
	height: 27px;;
}
label, button {
	font-size: 20px;
}

button {
	height: 29px;
	width: 40px;
	padding: 0;
	margin: 0;
} */
